lxml==4.1.0
peewee==2.10.2
phonenumbers==8.8.5
flickrapi==2.3
github3.py==0.9.6
bs4==0.0.1
facebook-sdk==2.0.0
geopy==1.11.0
tweepy==3.5.0
exifread==2.1.2
rawpy==0.10.1
apsw==3.9.2-r1
requests==2.18.4
pyaml==17.10.0
exifread==2.1.2
